/*
   Base CSS
*/
html {
	height:100%;
	width:100%;
	padding:0;
	margin:0;
}
body {
	background: #981e32;
	height:100%;
	width:100%;
	padding:0;
	margin:0;
}

.container, footer {
	height:100%;
	width:960px;
	position:relative;
	margin:50px auto;
	padding:50px;
	box-shadow: 5px 5px 15px 3px #4D4D4D;
	background: #fff;
	height:auto;
}

button {
  text-align: center;
  position: relative;
}
table{
	width:100%;
}
th {
	font-weight: bold;
}
td, th {
	padding:10px;
	border-bottom:1px solid #adadad;
	width:25%;
	text-align: center;
}
label {
  width:100px;
  font-size:18px;
  float:left;
  padding:5px;
}
fieldset > label {
  padding:5px;
  width:400px;
  text-align: right;
  font-size:20px;
   margin:15px 5px;
  float:left;
}
#viewport {
  text-align: center;
}
a {
  text-decoration: none;
  color:#fff;       
}

/*
   Register CSS
*/
.status {
  padding:25px;
  width:100%;
  display: block;
  text-align: center;
  color:red;
  font-size:16px;
}
input[type="text"], input[type="password"] {
  float:left;
  margin:15px 5px;
}
legend {
  font-size:32px;
  padding:15px;
}
.btn-register {
  padding:15px 35px;
  font-size: 28px;
}

/*
   Students CSS
*/
.searchBar {
  transition: width 1s;
  -webkit-transition:width 1s;
}
.searchBar:focus {
  width:650px;
}


/*
    Navigation CSS
*/
.nav-main {
  position: relative;
  margin: 0px auto;
  box-sizing: border-box;
  border-radius: 4px;
  color: #7A7A7A;
  z-index: 1000;
}
.nav-list {
  width: 100%;
  height: 100%;
  list-style: none;
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  padding: 0;
}
.nav-item {
  display: inline;
  box-sizing: border-box;
  padding: 10px 0px;
  width: 160px;
  text-align: center;
  float: left;
  background: #E3E3E3;
  position: relative;
}
.nav-item a {
  text-decoration: none;
  color: #7A7A7A;

}.nav-item a:hover{
  color:#575757;
}

.nav-item:hover {
  cursor: pointer;
  background: #BFBFBF;
}
/* Second level */
.nav-item ul {
  margin: 10px 0 0 0;
  padding: 0;
  list-style: none;
  position: absolute;
  left: -9999px;
}
.nav-item ul li {
  display: inline;
  box-sizing: border-box;
  border-top: 1px solid #B5B5B5;
  border-right: 1px solid #B5B5B5;
  border-bottom: 1px solid #B5B5B5;
  padding: 10px 0px;
  width: 160px;
  text-align: center;
  float: left;
  background: #E3E3E3;
  position: relative;
  border: none;
}
.nav-item ul li:hover {
  cursor: pointer;
  background: #BFBFBF;
}
.nav-item:hover ul {
  left: 0px;
}
.activ {
  background: #BFBFBF;
  box-shadow: 1px 1px 3px 2px #808080 inset;
}

.nav-main-footer {
  width: 100px;
  margin-left:200px;
  position: relative;
  box-sizing: border-box;
  border-radius: 4px;
  color: #7A7A7A;
}
.nav-list-footer {
  width: 100%;
  height: 100%;
  list-style: none;
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  padding: 0;
}
.nav-item-footer {
  display: block;
  box-sizing: border-box;
  padding: 5px 0px;
  width: 100%;
  text-align: center;
  position: relative;
}
.nav-item-footer a {
  text-decoration: none;
  color: #7A7A7A;
}
.nav-item-footer:hover {
  cursor: pointer;
  background: #E3E3E3;
}

/*
    Top Bar CSS
*/
header {
        padding:20px;
        border-top:2px solid #981e32;
        border-bottom:2px solid #981e32;
        text-align: left;
        margin-bottom:15px;
        min-height:85px;

      }
      header h3 {
        font-size: 22px;
        padding-top:7px;
      }
      a:hover {
        
        color:#adadad;
        text-decoration: none;
      }
      .anchor {
        color:#7A7A7A;
      }
      .anchor:hover{
        color:#7A7A7A;
      }
      header a > h1{
        font-size:60px;
        margin-left:35px;
        font-family: 'Bubblegum Sans', cursive;
        width:250px;
        height:75px;
        float:left;
        color:#696969;
        text-align: center;
        vertical-align: middle;
        transition: border-bottom .25s;
        -webkit-transition: border-bottom .25s;
      }
      header a > h1:hover{
        border-bottom:8px solid #696969;;
        box-sizing:border-box;
      }
      .signup, .login {
        background:#981e32;
        height:75px;
        float:left;
        border-radius:20px;
        width:225px;
        padding:5px 0;
        text-align:center;
        margin-left:85px;
      }
      .signup span, .login span {
        padding:25px;
        color:#fff;
        
      }
      
      .intro h2{
        padding:15px;
        margin-left:-300px;
      }
      .intro p {
        font-size:28px;
        line-height:150%;
        text-align: justify;

      }

      .home-content {
        width:75%;
        position: relative;
        margin:0 auto;
        text-align:justify;
        text-align: center;
        margin-bottom:50px;
      }


/* 
    Resume CSS
*/
.section-title{
  padding:20px 0;
  font-size:24px;
  width:95%;
  float:left;
}

.profile-wrap {
        text-align: left;
      }
      .profile-welcome {
        padding:5px 0;
      }
      .profile-pic-wrap {
        width:250px;
        height:250px;
        border: 3px dashed #5E5E5E;
        box-sizing:border-box;
        float:left;
      }
      .profile-header {
        min-height:250px;
        margin-bottom:50px;
      }
      .profile-info {
        width:500px;
        padding:0 25px;
        float:left;
        box-sizing:border-box;
      }
      .lbl, .val {
        padding:6px;
      }
      .lbl {
        font-weight:700;
        float:left;
        width:125px;

      }
      .val {
        float:left;
        display:block;
        min-width:200px;

      }
      .bio {
        display:inline-block;
        width:650px;
        padding-top:0;
      }
      .line-wrap {
        width:100%;
        height:32px;
        display: inline-block;
      }
      .section {
        padding:0 25px;
        
      } 
      p {
        font-size: 16px;
      }
      .edu-classes, .edu-main, .emp-main {
        list-style: none;
        margin: 0;
      }
      .emp-item {
        margin-bottom:25px;
      }
      .edu-main, .emp-main {
        font-weight: bold;
        font-size: 16px;
        margin-bottom: 25px;
      }
      .edu-main li, .emp-main li {
        line-height: 125%;
      }
      .profile-links-table a {
        text-decoration: none;
        color:#333333;
        font-weight: 700;
      }
      .profile-links-table a:hover {
        color:#000;
      }
      tr:nth-child(even){
        background: #E5E5E5;
      }
      .edu-classes li:nth-child(even){
        background: #EBEBEB
      }
      .section-main {
        /*max-height:0px;
          transition: max-height 1s;
          -webkit-transition: max-height 1s;*/
          display:none;
          float:left;
          width:100%;
      }
      .resume {
        box-shadow:2px 2px 15px 2px #CCCCCC inset;
        overflow:hidden;
      }
      .resume:nth-child(even){
        background: #EBEBEB;
      }
      .section-pulldown {
        width:100%;
      }
      .section-pulldown:hover {
        cursor: pointer;

      }
      .section-pulldown:hover > .section-title {
        color:#636363;
      }
      .arrow {
        width:35px;
        padding:10px 0;
        opacity: 0.25;
      }
