
<!DOCTYPE html>
<html>
	<head>
		<title>Matt's Template</title>

		<!-- Stylesheets -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/2.1.0/normalize.css" type="text/css" />
		<link href="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
		<link href='http://fonts.googleapis.com/css?family=Bubblegum+Sans' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="stylesheets/general.css" type="text/css" />
		<style>
			
		
		</style>
	</head>
	<body>
			<div class="container">
				<header>
					<a href="#/" class="anchor"><h1>CougLinks</h1></a>
					<section class="signup">
						<a href="#/register"><h3>Sign-Up Now!</h3></a>
					</section>
					<section class="login">
						<a href="#/login"><h3>Login Here</h3></a>
					</section>
				</header>
				<nav class="nav-main">
					<ul class="nav-list">
						<li class="nav-item"><a href="#/home">Home</a></li>
						<li class="nav-item"><a href="#/register">Register</a></li>
						<li class="nav-item"><a href="#/students">Students</a></li>
						<li class="nav-item"><a href="#/projects">Projects</a></li>
						<li class="nav-item"><a href="#/profile">Profile</a></li>
						<li class="nav-item"><a href="#/contact">Contact</a></li>
					</ul>
				</nav>


				<section id="viewport"></section>
			</div>
			<footer>
				<nav class="nav-main-footer">
				<ul class="nav-list-footer">
					<li class="nav-item-footer"><a href="#/">Home</a></li>
					<li class="nav-item-footer"><a href="#/students">Students</a></li>
					<li class="nav-item-footer"><a href="#/register">Register</a></li>
					<li class="nav-item-footer"><a href="#">Downloads</a></li>
					<li class="nav-item-footer"><a href="#">Support</a></li>
					<li class="nav-item-footer"><a href="#">Contact</a></li>
				</ul>
			</nav>
			</footer>
		<script type="text/template" id="homePageTemplate">
			
			<section class="intro home-content">
			<h2>Welcome to CougLinks!</h2>
				<p>A student built service created for all current students of Washington State University.  CougLink is meant to create opportunities for both students and potential employers by providing resum&#0232;s&#8217; and details about any projects students participated in during their college career.</p>
			</section>
			<section class="home-content">
				<img src="../images/home_main.png" />
			</section>
			<section class="intro home-content">
				<p>CougLinks brings together businesses and students in a way like never before. Students can create a personal profile which displays their accomplishments and contact information.  Businesses can then search for students or browse by major</p>
			</section>

		</script>
	
		<script type="text/template" id="createUserTemplate">
			<form id="newUserForm">
				<fieldset>
					<legend>Fill out the form below to create your new account!</legend>
					<span class="status"></span>
					<label>First Name</label><input type="text" name="FirstName" /><br /><br />
					<label>Last Name</label><input type="text" name="LastName" /><br /><br />
					<label>Student ID</label><input type="text" name="ID" /><br /><br />
					<label>Email</label><input type="text" name="Email" /><br /><br />
					<label>Password</label><input type="password" name="password" /><br /><br />
					<label>Confirm Password</label><input type="password" name="conf-password" />
				</fieldset>
			</form>
			<button class="btn btn-primary btn-register">Register</button>
		</script>

		<script type="text/template" id="listUsersTemplate">
			<fieldset>
			<legend>Search or browse students here!</legend>
			<label>Search</label><input type="text" class="searchBar" placeholder="e.g. Matt Hintzke" />
			<table>
				<tr>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Student ID</th>
					<th>Email</th>
				
				</tr>
				<% _.each(users, function(user){ %>
					<tr id="<%= user.get('token') %>">
						<td><%= user.get('FirstName') %></td>
						<td><%= user.get('LastName') %></td>
						<td><%= user.get('UUID') %></td>
						<td><%= user.get('Email') %></td>
						
					</tr>
				<% }); %>
			</table>
			</fieldset>
		</script>

		<script type="text/template" id="profileviewTemplate">
			<section class="profile-wrap">
				<h1 class="profile-welcome"><%= user.FirstName %>&#39;s Profile</h1>
				<section class="profile-header section">
					<section class="profile-pic-wrap"><img class="profile-pic" height="250" width="250" src="<%= user.ProfilePicture %>"/></section>
					<section class="profile-info">
						<span class="lbl">First Name</span><span class="val"><%= user.FirstName %></span>
						<span class="lbl">Last Name</span><span class="val"><%= user.LastName %></span>
						<span class="lbl">Email</span><span class="val"><%= user.Email %></span>
						<span class="lbl">Major</span><span class="val"><%= user.Major %></span>
						<span class="lbl">Bio</span><span class="val bio"><%= user.Bio %></span>
					</section>
				</section>
				<h2>Resum&#0232;</h2>
				<section class="resume section">
					<span class="section-pulldown"><span class="section-title">Objective</span><img class="arrow" src="images/uparrow.png" /></span> 
					<section class="section-main">
					<p><%= user.Resume.objective %></p>
					</section>
				</section>
				<section class="resume section">
					<span class="section-pulldown"><span class="section-title">Education</span><img class="arrow" src="images/uparrow.png" /></span> 
					<section class="section-main">
					<% _.each(user.Resume.education, function(eduItem){ %>
						<section class="edu-item">
						<ul class="edu-main">

								<li><%= eduItem.school %></li>
								<li><% print(user.Major + " " + eduItem.degree) %></li>
								<li>GPA: <%= eduItem.gpa %></li>
						</ul>
						<ul class="edu-classes">
							<% _.each(eduItem.classes, function(mclass){ %>
								<li><% print(mclass.abbr+" "+mclass.number+" - "+mclass.name) %></li>
							<% }) %>
						</ul>
						</section>
					<% })	%>
							
					</section>
				</section>

				<section class="resume section">
					<span class="section-pulldown"><span class="section-title">Skills</span><img class="arrow" src="images/uparrow.png" /></span> 
					<section class="section-main">
					<table>
					<tr>
						<th>Skill</th>
						<th>Value</th>
					</tr>
					<% _.each(user.Resume.skills, function(skill){ %>
						<tr>
							<td><%= skill.name %></td>
							<td><%= skill.value %></td>
						</tr>
					<% }) %>
					</table>
					</section>
				</section>
				<section class="resume section">
					<span class="section-pulldown"><span class="section-title">Employment</span><img class="arrow" src="images/uparrow.png" /></span> 
						<section class="section-main">

						<% _.each(user.Resume.employment, function(empItem){ %>
						<section class="emp-item">
						<ul class="emp-main">
							<li><% print(empItem.startDate+" - "+empItem.endDate+": "+empItem.jobTitle) %></li>
							<li>Company: <%= empItem.company %></li>
							<li><%= empItem.city %></li>
						</ul>
						<p><%= empItem.description %></p>
						</section>
						<% }) %>

						</section>
				</section>

				<section class="resume section">
					<span class="section-pulldown"><span class="section-title">Hobbies</span><img class="arrow" src="images/uparrow.png" /></span> 
					<section class="section-main">
					<p><%= user.Resume.hobbies %></p>
					</section>
				</section>

				<section class="resume section">
					<span class="section-pulldown"><span class="section-title">Links</span><img class="arrow" src="images/uparrow.png" /></span> 
					<section class="section-main">
						<table class="profile-links-table">
							<tr>
								<th>Link</th>
								<th>Description</th>
							</tr>
							<% _.each(user.Resume.links, function(links){ %>
								<tr>
									<td><a href="<%= links.href %>" target="_blank"><%= links.name %></a></td>
									<td><%= links.description %></td>
								</tr>
							<% }) %>
						</table>
					</section>
				</section>

				<section class="resume section highlight">
					<span class="section-pulldown"><span class="section-title">Projects</span><img class="arrow" src="images/uparrow.png" /></span> 
					<section class="section-main">
					<h4>We will implement a project section when we have the foundation of how projects are created and how we store them</h4>
					</section>
				</section>
			</section>
		</script>

		<script type="text/template" id="loginViewTemplate">
			<form class="loginForm">
				<fieldset>
				<legend>Login</legend>
				<label for="loginID">Student ID</label>
				<input type="text" class="loginID" placeholder="12345678" />
				<label for="loginPassword">Password</label>
				<input type="password" class="loginPassword" />
				</fieldset>
				<a href="/lostandfound"><span class="lostandfound">I forgot my account info</span></a><br />
				<button class="loginBtn btn btn-primary">Login</button>
			</form>
		</script>

		<!-- Javascript Libraries -->
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone.js"></script>
		<script type="text/javascript" src="javascripts/md5.js"></script>

		<!-- My Javscript -->
		<script type="text/javascript" src="javascripts/util.js"></script>
		<script type="text/javascript" src="javascripts/views.js"></script>
		<script type="text/javascript" src="javascripts/models.js"></script>
		<script type="text/javascript" src="javascripts/routers.js"></script>
		<script type="text/javascript" >
		
		</script>
	</body>
</html>
