<!DOCTYPE html>
<html>
	<head>
		<title>Matt's Template</title>

		<!-- Stylesheets -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/2.1.0/normalize.css" type="text/css" />
		<link href="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
		<link href='http://fonts.googleapis.com/css?family=Bubblegum+Sans' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="stylesheets/general.css" type="text/css" />
		<style>
			.profile-wrap {
				text-align: left;
			}
			.profile-pic-wrap {
				width:250px;
				height:250px;
				border: 3px dashed #5E5E5E;
				box-sizing:border-box;
				float:left;
			}
			.profile-header {
				min-height:250px;
			}
			.profile-info {
				width:500px;
				padding:0 25px;
				float:left;
				box-sizing:border-box;
			}
			.lbl, .val {
				padding:6px;
			}
			.lbl {
				font-weight:700;
				float:left;
				width:125px;

			}
			.val {
				float:left;
				display:block;
				min-width:200px;

			}
			.bio {
				display:inline-block;
				width:650px;
				padding-top:0;
			}
			.line-wrap {
				width:100%;
				height:32px;
				display: inline-block;
			}
			.section {
				padding:25px;
			}
			p {
				font-size: 16px;
			}
			.edu-classes, .edu-main, .emp-main {
				list-style: none;
				margin: 0;
			}
			.edu-main, .emp-main {
				font-weight: bold;
				font-size: 16px;
				margin-bottom: 25px;
			}
			.edu-main li, .emp-main li {
				line-height: 125%;
			}
			.highlight {
				background: #EBEBEB;
			}
			.profile-links-table a {
				text-decoration: none;
				color:#333333;
				font-weight: 700;
			}
			.profile-links-table a:hover {
				color:#000;
			}
			tr:nth-child(even){
				background: #E5E5E5;
			}
			.edu-classes li:nth-child(even){
				background: #EBEBEB
			}
		</style>
	</head>
	<body>
			<div class="container">
				<header>
					<a href="#/" class="anchor"><h1>CougLinks</h1></a>
					<section class="signup">
						<a href="#/register"><h3>Sign-Up Now!</h3></a>
					</section>
					<section class="login">
						<a href="#/login"><h3>Login Here</h3></a>
					</section>
				</header>
				<nav class="nav-main">
					<ul class="nav-list">
						<li class="nav-item"><a href="#/home">Home</a></li>
						<li class="nav-item"><a href="#/register">Register</a></li>
						<li class="nav-item"><a href="#/students">Students</a></li>
						<li class="nav-item"><a href="#/projects">Projects</a></li>
						<li class="nav-item"><a href="#/profile">Profile</a></li>
						<li class="nav-item"><a href="#/contact">Contact</a></li>
					</ul>
				</nav>


				<section id="viewport"></section>
			</div>
			<footer>
				<nav class="nav-main-footer">
				<ul class="nav-list-footer">
					<li class="nav-item-footer"><a href="#/">Home</a></li>
					<li class="nav-item-footer"><a href="#/students">Students</a></li>
					<li class="nav-item-footer"><a href="#/register">Register</a></li>
					<li class="nav-item-footer"><a href="#">Downloads</a></li>
					<li class="nav-item-footer"><a href="#">Support</a></li>
					<li class="nav-item-footer"><a href="#">Contact</a></li>
				</ul>
			</nav>
			</footer>
		<script type="text/template" id="homePageTemplate">
			
			<section class="intro home-content">
			<h2>Welcome to CougLinks!</h2>
				<p>A student built service created for all current students of Washington State University.  CougLink is meant to create opportunities for both students and potential employers by providing resum&#0232;s&#8217; and details about any projects students participated in during their college career.</p>
			</section>
			<section class="home-content">
				<img src="../images/home_main.png" />
			</section>
			<section class="intro home-content">
				<p>CougLinks brings together businesses and students in a way like never before. Students can create a personal profile which displays their accomplishments and contact information.  Businesses can then search for students or browse by major</p>
			</section>

		</script>
	
		<script type="text/template" id="createUserTemplate">
			<form id="newUserForm">
				<fieldset>
					<legend>Fill out the form below to create your new account!</legend>
					<span class="status"></span>
					<label>First Name</label><input type="text" name="FirstName" /><br /><br />
					<label>Last Name</label><input type="text" name="LastName" /><br /><br />
					<label>Student ID</label><input type="text" name="UUID" /><br /><br />
					<label>Email</label><input type="text" name="Email" /><br /><br />
					<label>Password</label><input type="password" name="password" /><br /><br />
					<label>Confirm Password</label><input type="password" name="conf-password" />
				</fieldset>
			</form>
			<button class="btn btn-primary btn-register">Register</button>
		</script>

		<script type="text/template" id="listUsersTemplate">
			<fieldset>
			<legend>Search or browse students here!</legend>
			<label>Search</label><input type="text" class="searchBar" placeholder="e.g. Matt Hintzke" />
			<table>
				<tr>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Student ID</th>
					<th>Email</th>
				
				</tr>
				<% _.each(users, function(user){ %>
					<tr id="<%= user.get('token') %>">
						<td><%= user.get('FirstName') %></td>
						<td><%= user.get('LastName') %></td>
						<td><%= user.get('UUID') %></td>
						<td><%= user.get('Email') %></td>
						
					</tr>
				<% }); %>
			</table>
			</fieldset>
		</script>

		<script type="text/template" id="profileviewTemplate">
			<section class="profile-wrap">
				<h2><%= user.FirstName %>&#39;s Profile</h2>
				<section class="profile-header section">
					<section class="profile-pic-wrap"><img class="profile-pic" height="250" width="250" src="<%= user.ProfilePicture %>"/></section>
					<section class="profile-info">
						<span class="lbl">First Name</span><span class="val">Matt</span>
						<span class="lbl">Last Name</span><span class="val">Hintzke</span>
						<span class="lbl">Email</span><span class="val">mhintzke.wsu@hotmail.com</span>
						<span class="lbl">Major</span><span class="val">Computer Science</span>
						<span class="lbl">Bio</span><span class="val bio">Founder of the Windows Phone Development Group and ex-Vice President of Delta Chi Fraternity.  I am the co-creator of the Windows 8 Store Application, TweetMaps, and am heading into my final year of my computer science career path.</span>
					</section>
				</section>
				<section class="profile-objective section highlight">
					<h3 class="section-title">Objective</h3>
					<p>
					I have a knack for the web and everything about it. I love to create web applications and develop web sites for friends and family just for fun. My plan is to find a small start-up that will allow me to use my skills as a C programmer as well as web designer to create content rich applications for clients
					</p>
				</section>
				<section class="profile-edu section">
					<h3 class="section-title">Education</h3>
					<section class="edu-item">
						<ul class="edu-main">
							<li>Washington State University</li>
							<li>Computer Science Bachelor of Science</li>
							<li>GPA: 3.5</li>
						</ul>
						<ul class="edu-classes">
							<li>CptS 121 - Intro to Program Design</li>
							<li>CptS 122 - Data Structures</li>
							<li>CptS 223 - Advanced Data Structures</li>
							<li>CptS 260 - Intro to Computer Architecture</li>
							<li>CptS 224 - Unix Programming Tools</li>
							<li>CptS 317 - Finite Automata and Formal Languages</li>
							<li>CptS 323 - Software Design</li>
							<li>CptS 360 - Systems Programming</li>
							<li>CptS 430 - Numerical Analysis</li>
						</ul>
					</section>
				</section>
				<section class="profile-skills section highlight">
					<h3 class="section-title">Skills</h3>
					<table>
					<tr>
						<th>Skill</th>
						<th>Value</th>
					</tr>
					<tr>
						<td>C/C++/C#</td>
						<td>Advanced</td>
					</tr>
					<tr>
						<td>Linux</td>
						<td>Advanced</td>
					</tr>
					<tr>
						<td>HTML/CSS3</td>
						<td>Intermediate</td>
					</tr>
					</table>
				</section>
				<section class="profile-employment section">
					<h3 class="section-title">Employment</h3>
					<ul class="emp-main">
						<li>May 2012 - August 2012: Web Application Developer</li>
						<li>Company: IDD Aerospace</li>
						<li>Redmond, Washington</li>
					</ul>
					<p style="margin-bottom:50px;">Working at IDD, I personally designed and implemented a system for storing and viewing data from a centralized MySQL database. Originally, IDD ran lighting tests using radiometers and spectrometers to ensure the requirements of each part are met. However, this data was never saved in any way once the test was done. This led to my design of a PHP, Javascript, and MySQL system that allowed data stored in an Excel spreadsheet to be translated to a database and then viewed using a PHP client on the browser. The client also allowed the user to fully manage the database tables in order to handle the need of any future data specifications.</p>
					
					<ul class="emp-main">
						<li>May 2011 - August 2011: Mechanical Engineer Intern </li>
						<li>Company: Coffman Engineers</li>
						<li>Seattle, Washington</li>
					</ul>
						<p>As an intern at Coffman Engineers I worked along side colleagues to complete a contracting job at The Boeing Company in Everett where I was put to the task of mapping out the extensive steam pipe system that powers much of the equipment used by the assemblers. My daily tasks included drawing out steam lines and their corresponding loads throughout the Boeing plant, reviewing previously created CAD drawings for accuracy and consistency, and modeling HVAC load scenarios using computer software. This internship provided me the opportunity to work with a team to deliver quality work and consultation in a professional environment.</p>
				</section>

				<section class="profile-hobbies section highlight">
					<h3 class="section-title">Hobbies</h3>
					<p>By now, it is clear that I have a passion for the web. I spend much of my time learning new web application developing standards and design architectures. I have basic to intermediate experience using MVC frameworks such as NodeJS, BackboneJS, ExpressJS, and Meteor. Apart from programming, I love to play sports such as soccer and basketball and spend time fulfilling my passion for music by playing guitar and piano.</p>
				</section>

				<section class="profile-links section">
					<h3 class="section-title">Links</h3>
					<table class="profile-links-table">
						<tr>
							<th>Link</th>
							<th>Description</th>
						</tr>
						
						<tr>
							<td><a href="http://www.daemondeveloper.com">DaemonDeveloper</a></td>
							<td>My personal website</td>
						</tr>
						<tr>
							<td><a href="https://www.google.com">Google</a></td>
							<td>This is just Google</td>
						</tr>
						<tr>
							<td><a href="http://www.wsu.edu">Wazzu</a></td>
							<td>WSU Official Website</td>
						</tr>
					</table>
				</section>

				<section class="profile-projects section highlight">
					<h3 class="section-title">Projects</h3>
					<h4>We will implement a project section when we have the foundation of how projects are created and how we store them</h4>
				</section>
			</section>
		</script>

		<!-- Javascript Libraries -->
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone.js"></script>
		<script type="text/javascript" src="javascripts/md5.js"></script>

		<!-- My Javscript -->
		<script type="text/javascript" src="javascripts/util.js"></script>
		<script type="text/javascript" src="javascripts/views.js"></script>
		<script type="text/javascript" src="javascripts/models.js"></script>
		<script type="text/javascript" src="javascripts/routers.js"></script>
		<script type="text/javascript" ></script>
	</body>
</html>
